body{
    background-color: blanchedalmond;
}
#Wallpaper{
    width:  50%;
    margin-left: 25%
}
p{
   background-color: aquamarine; 
}
#tst{
    text-align: right;
    font-size: 18px;
}

em strong{
    color: red;
}